
body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	color: #000000;
}


#container {
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 1px solid #CCC;
	text-align: left; /* this overrides the text-align: center on the body element. */
	width:95%;
	background: #FFFFFF;
	padding: 20px 20px 20px 20px;
}

  /*
#shadow{
		background:#FFF url(../images/main_shadow.gif)
		top repeat-x;padding: 10px 0px 0px 0px;

		overflow:hidden;
	}
    */

/*
.institutionalBranding

{
position: relative;
left: 18px;
top: 10px;
height: 80px;
width: 400px;

background-image: url(../images/institutionalLogoHere.gif);
background-repeat: no-repeat;
background-attachment: scroll;
background-position: 0% 0%;
}
  */


 #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 20px 0px 20px 0px; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}
 #mainContent {

    marging: 100px 100px 100px 100px;
	padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	background: #FFFFFF;
}

#content {		margin-top:10px;		padding-bottom:10px;	}

#content-left {
    position: relative;
     float: left;
     left: 0.00%;
     width: 33.00%;

}

#content-center {
    position: relative;
   float: left;
   left: 0.00%;
   width: 33.00%;

}

#content-right {
    position: relative;
       float: right;
       right: 0.00%;
       width: 33.00%;


}


.column-in {
	margin:0; padding:2em 2em;
	}


.oneColElsCtrHdr .section

{
	background-color: #ffffff;
	background-image:url(../images/backgroundModules.png);
	background-repeat: repeat-x;
	border-right-width-ltr-source: physical;
	padding-right: 13px;
	padding-bottom: 13pt;
	padding-left: 13px;
	border: 2px solid #d4d4d4;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px ;
	-webkit-border-botton-right-radius: 5px;
	-webkit-border-botton-left-radius: 5px;
	margin-bottom: 13px;

 }


.oneColElsCtrHdr .highlight

{
	background-color: #E8F0F6;
	border-right-width-ltr-source: physical;
	padding-right: 13px;
	padding-bottom: 0px;
	padding-left: 13px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-top: 10px;
	border: 1px solid #C9ECFA;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px ;
	-webkit-border-botton-right-radius: 5px;
	-webkit-border-botton-left-radius: 5px;
	margin-bottom: 0px;
	margin-right: 0px;

 }


.oneColElsCtrHdr #page

{
	background-color: #FCFCFC;
	border-right-width-ltr-source: physical;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-top: 20px;
	border: 2px solid #CEEFFF;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px ;
	-webkit-border-botton-right-radius: 5px;
	-webkit-border-botton-left-radius: 5px;
	margin-bottom: 20px;
	margin-right: 0px;


 }

.clearfix:after{

	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;

}
.invisible{
display:none;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.columntitle
{
	display:block;
	float:left;
padding: 4px 0px 30px 0px;
	padding-right: 0.8em;
	/*text-align:right;
	vertical-align: top;
	line-height: 2em;    */
	color:#006699;

}

.columntext
{
 line-height:150%;
 padding: 150px 0px 10px 0px;
}



.leftcolumn {
	float: left;
    margin: 15px 0px 15px 5px;
	width: 50%;
	background: #FFFFFF;
	text-align: right;
}
.rightcolumn {
  /*  float: right;
	margin: 15px 15px 15px 5px;
	width: 45%;
	background: #FFFFFF;
	text-align: left;*/


}

.centercolumn {
    float:inherit;
	margin:  15px 15px 15px 15px;
	width: 95%;
	padding: 0px 30px 5px 30px;

}


.text-align-centered
{
	margin: 0 auto;

	text-align:center;
	padding:0px 80px 0px 40px;
	width: 70%;
	margin-left: 100px;

}


.text-align-left
{
	margin-left: -220px;
	text-align: left;
	padding-bottom:20px;
}


.moduleTitleLeft

{

font-family: Arial,Helvetica,sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 18px;
line-height: normal;
font-size-adjust: none;
font-stretch: normal;
-x-system-font: none;
color: #058bc3;
text-decoration: none;
padding-top: 5px;

}

a
{
font-weight: bold;
color: #0181e3;
text-decoration: none;
}

a:hover
{
color: #3a9eeb;
}

/*
* -------------------------------------------------------------------------
* Control sections
* -------------------------------------------------------------------------
*/

label
{
	display:block;
	float:left;
	clear:left;
	width:12em;
	padding-right: 0.8em;
	text-align:right;
	vertical-align: middle;
	line-height: 1.8em;
	color:#006699;
	padding-bottom: 10px;
    font-weight: bold;

}
label.columntitle{
	display:block;
	float:left;
	clear:left;
	width:11em;
	padding-right: 0.8em;
	text-align:right;
	vertical-align:middle;
	line-height: 1.5em;
	color:#006699;
	padding-bottom: 10px;

}


.Institution
{
	display:block;
	float:right;
	/*clear:left;*/
	padding-right: 0.8em;
	text-align:right;
	vertical-align: middle;
	line-height: 1.5em;
	color:#006699;
	padding-bottom: 10px;
	font-weight: bold;

}

input {

	display:block;
	float:left;
    width:180px;
	/*vertical-align:bottom;*/

}

br {
	clear:both;
}

.dropdown
{
width: 180px;
Font-Size: 11pt;
float:left;

}

.TextBox
{
	Font-Size: 12pt;
}


.wrapper{
   position: relative;
   float: left;
   left: 0.00%;
   width: 100.00%;
   padding: 20px 0px 20px 0px;
}

.cleaner {
		clear:both;
		height:1px;
		font-size:1px;
		border:none;
		margin:0; padding:0;
		background:transparent;
		}

